{
  "extends": ["react-app", "airbnb", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": "error",
    "quotes": [2, "double"],
    "no-script-url": 0,
    "linebreak-style": 0
  }
}
