.add-product-wrapper {
  .add-product {
    float: left;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    .section-header {
      border: none;
    }
  }
}
.product-information {
  .product-box-title {
    float: left;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    > p {
      font-size: 14px;
      font-weight: 600;
    }
  }
}
.box {
  background: $white-bg;
  padding: 15px;
  margin: 0 auto 15px;
  float: left;
  width: 100%;
  .box-header {
    float: left;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 10px;
    .title {
      float: left;
      font-weight: bold;
    }
    .text {
      float: right;
      a {
        color: $azure-color-top;
      }
    }
  }
  .box-navbar {
    float: left;
    width: 100%;
    margin: 0 auto 20px;
    padding: 0;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    .btn-simple {
      background-color: #f7f7f9;
      color: $black-color;
      font-size: 14px;
      box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    }
    .box-language {
      float: right;
      .box-language-title {
        padding: 9px 5px;
        line-height: 18px;
        float: left;
      }
      .languages {
        float: left;
        .btn-default {
          border: none;
          background-color: #f7f7f9;
          color: $black-color;
          font-size: 14px;
          padding: 8px 35px;
          width: 100px;
          i {
            display: none;
          }
          .caret {
            border-top-color: $black-color;
          }
        }
        .dropdown {
          .dropdown-menu {
            background-color: #fff;
            > li {
              > a {
                color: $black-color;
                border-bottom: none;
                &:hover,
                &:focus {
                  background-color: #f5f5f5;
                  border-left: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .box-content {
    float: left;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    .static-content {
      .control-label {
        font-weight: normal;
      }
      .form-control-static {
        display: inline-block;
        padding-left: 10px;
        color: $default-color-bottom;
      }
    }
    .box-search {
      .btn-default {
        border-color: $warning-color;
        background-color: $warning-color;
        border-radius: 0;
      }
      .form-control {
        border-color: $warning-color;
        border-width: 1px 1px 3px 1px;
        border-radius: 0;
      }
      .box-search-result {
        float: left;
        width: 100%;
        margin: 0 auto 10px;
        padding: 10px;
        background: #f2f2f2;
        ul {
          padding: 10px 5em 10px 10px;
          margin: 0 auto;
          list-style: none;
          background: $white-bg;
          display: inline-block;
          position: relative;
          > li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            padding: 3px 5px;
            &:hover {
              background: $warning-color;
              border-bottom-color: $warning-color;
              a {
                color: $white-color;
              }
            }
            &:last-child {
              border-bottom: none;
            }
            > p {
              color: $black-color;
              display: block;
              padding: 0 3em 0 0;
              margin: 0 auto;
              cursor: pointer;
              &:hover {
                color: $white-color;
              }
            }
          }
          > li.active {
            background: $warning-color;
            border-bottom-color: $warning-color;
            > p {
              color: $white-color;
            }
            > ul {
              display: block;
              > li {
                > p {
                  color: $black-color;
                }
                &.active {
                  > p {
                    color: $white-color;
                  }
                }
              }
            }
          }
          > li {
            > ul {
              z-index: 4;
              display: none;
              position: absolute;
              left: 100%;
              top: -1px;
              margin-left: -2px;
              min-width: 300px;
              @include box-shadow(
                3px 3px 5px rgba(0, 0, 0, 0.2),
                0 0 0 1px rgba(63, 63, 68, 0.1)
              );
              > li {
                > p {
                  color: $black-color;
                  &:hover {
                    color: $white-color;
                  }
                }
              }
            }
          }
        }
        .selected-category {
          float: left;
          width: 100%;
          margin: 10px 0 0;
          padding: 0;
          .title {
            display: inline-block;
            padding-right: 4px;
          }
          .category {
            display: inline-block;
            font-weight: bold;
            line-height: 15px;
            vertical-align: middle;
          }
        }
      }
    }
    .bottom-text {
      .btn-simple {
        background-color: $medium-dark-blue;
        text-align: left;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
}
.image-form {
  float: left;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  > .image-input {
    position: relative;
    margin: 12px 0;
    .form-group {
      display: inline-block;
    }
    .control-label {
      font-weight: normal;
      + div {
        display: none;
      }
    }

    .btn-browse {
      font-size: 14px;
      font-weight: 700;
      color: #7d1516;
      background: #f7f1f1;
      border: 1px solid rgba(0, 0, 0, 0.2);
      cursor: pointer;
      display: initial;
      overflow: hidden;
      padding: 5px 15px;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 0px;
    }
    .action-buttons {
      display: inline-block;
      > div {
        display: inline-block;
        cursor: pointer;
        &.selected-links {
          color: $azure-color-top;
        }
        &.remove-links {
          color: #7d1516;
        }
        &:after {
          content: "|";
          padding: 0 10px;
          color: $black-color;
        }
        &:last-child {
          &:after {
            content: "";
          }
        }
      }
    }
  }
}
.images-preview {
  float: left;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  p {
    color: $default-color-bottom;
    text-align: center;
  }
  .preview {
    width: 100%;
    margin: 30px auto;
    padding: 0;
    float: left;
    text-align: center;
    > .preview-box {
      width: 100px;
      height: 100px;
      border: 0.5px solid rgba(0, 0, 0, 0.2);
      display: inline-block;
      box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
      margin: 0 5px;
      position: relative;
      .img-blank {
        width: 70px;
        height: 70px;
        margin: 15px;
      }
      .remove-image {
        position: absolute;
        top: 30px;
        left: 30px;
        background: $danger-color;
        opacity: 0.7;
        padding: 8px;
        border-radius: 100%;
        cursor: pointer;
        i {
          color: $white-color;
          font-size: 20px;
          vertical-align: middle;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
.product-information {
  .product-information-form {
    margin-bottom: 25px;
    .control-label {
      font-weight: normal;
      padding-top: 10px;
    }
    .custom-remove-btn {
      margin-right: 11px;
    }
    .form-horizontal-box {
      border-bottom: 0.5px solid #c0c0c0;
      margin-bottom: 30px;
      padding-bottom: 15px;
      .mutiple-form-group {
        position: relative;
        > .custom-form-group {
          + span {
            > .btn {
              position: absolute;
              top: 0;
              right: 25.2em;
            }
            .btn-default {
              background: transparent;
              border: none;
              color: #7491fb;
              padding-left: 0px;
            }
          }
        }
      }
    }
  }
}
