.breadcrumb{
    background: none;
    > li + li::before{
        content: "\e684";
        font-family: 'Pe-icon-7-stroke';
        font-weight: bold;
        font-size: 18px;
        float: left;
        line-height: 22px;
    }
    > li {
        > a{
            background: $white-color-top;
            padding: $breadcrumb-padding;
            color:$breadcrumb-color-link;
        } 
    }
    > .active{
        color:$breadcrumb-color-link;
    }
}