.filter-header,.filter-categories,.filter-products-price,.filter-products-rating{
    float: left;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    .title{
        float: left;
    }
    .filter-clear{
        text-align: right;
        float: right;
        cursor: pointer;
        color: #2874f0;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
        margin: 5px;
    }
}
.filter-header{
    padding-top: 5px;
}
.filter-products-price{
    .filter-clear{
        margin: 10px 5px;
    }
   .price-filter{
       float: left;
       width: 100%;
       margin-bottom: 2em;
   }
}
.filter-products-rating{
    .filter-clear{
        margin: 10px 5px;
    }
   .rating-filter{
       float: left;
       width: 100%;
   }
}
.filter-categories{
    .title{
        width: 100%;
    }
    .filter-category{
        float: left;
        width: 100%;
        padding: 10px 0;
        & .category{
            ul{
                padding: 0;
                margin:0;
                list-style: none;
                li{
                    padding: 5px 0;
                    cursor: pointer;
                }
            }
        }
    }
}