.products-image-wrapper {
    min-width: 1px;
    overflow: hidden;
    .products-slider-image {
        position: relative;
        direction: ltr;
        -webkit-text-size-adjust: 100%;
        z-index: 0;
        user-select: none;
    }
    .products__stage,
    .products__nav {
        max-width: 100%;
        overflow: hidden;
        position: relative;
    }
    .products__stage {
        height: 585px;
    }
    .products__nav-wrap {
        margin-top: 24px;
    }
    .products__stage__shaft,
    .products__stage__frame {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
    .products__stage__shaft {
        position: relative;
    }
    .products__grab {
        cursor: move;
        cursor: -webkit-grab;
        cursor: -moz-grab;
        cursor: -o-grab;
        cursor: -ms-grab;
        cursor: grab;
    }
    .products__stage__frame {
        transform: translateZ(0);
        .product__img {
            height: auto;
            left: 50%;
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            top: 50%;
            -webkit-transform: translate3d(-50%, -50%, 0);
            -ms-transform: translate3d(-50%, -50%, 0);
            -o-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
            transition-duration: .3s;
            transition-property: width, height, top, left;
            vertical-align: middle;
            width: auto;
        }
        .product__img {
            max-width: inherit !important;
        }
        .product__img {
            border: none !important;
            max-width: inherit;
            opacity: 0;
        }
    }
    .products__loaded {
        .product__img {
            opacity: 1;
        }
    }
    .products__wrap--slide .products__stage__frame {
        border: 1px solid #ebebeb;
    }
    
    .products__nav {
        display: none;
        font-size: 0;
        line-height: 0;
        white-space: nowrap;
        z-index: 5;
        margin: auto;
        padding: 0;
    }
    .products__nav--thumbs {
        display: block;
    }
}

.products__nav-wrap--horizontal .products__thumb__arr--left,
.products__nav-wrap--horizontal .products__thumb__arr--right {
    bottom: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 30px;
    z-index: 1000;
}

.products__arr,
.products__thumb__arr {
    background-color: rgba(255, 255, 255, .3);
    transition: background-color .3s ease-in-out;
}

.products__nav-wrap--horizontal .products__thumb__arr--left {
    left: 0;
}

.products__arr--disabled {
    cursor: default;
    opacity: .1;
    pointer-events: none;
}

.products__thumb__arr {
    box-shadow: none;
}

.products__nav__shaft {
    left: 0;
    position: relative;
    text-align: left;
    top: 0;
}

.products-inline-block,
.products__nav__shaft,
.products__nav__frame,
.products__caption__wrap {
    -moz-box-orient: vertical;
    display: -moz-inline-box;
    display: inline-block;
}

// Thumbs 
.products__nav--thumbs {
    .products__nav__frame {
        padding: 2px;
        height: 110px;
        width: 100px;
        padding-left: 0 !important;
    }
}
.products__thumb{
    background-color: #ebebeb;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

//Transition Slider
.products-transition-for-slide,
.products__wrap--css3 .products__stage__shaft,
.products__wrap--css3 .products__nav__shaft,
.products__wrap--css3 .products__thumb-border {
    transition-duration: 0ms;
    transition-property: transform, width;
    transition-timing-function: cubic-bezier(.1, 0, .25, 1);
}