body {
  min-height: 100vh;
  position: relative;
  background-color: $white-bg;
}

a {
  color: $warning-color;
  &:hover,
  &:focus {
    color: $warning-states-color;
    text-decoration: none;
  }
}

a:focus,
a:active,
button::-moz-focus-inner,
input::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
  outline: 0;
}

/*           Animations              */

.form-control,
.input-group-addon,
.tagsinput,
.navbar,
.navbar .alert {
  @include transition($general-transition-time, $transition-linear);
}

section {
  padding: $padding-large-horizontal $padding-zero;
  margin: $margin-vertical-auto;
  .service-block {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    float: left;
    width: 100%;
    padding: $padding-zero 27px;
  }
}

.section-dashboard {
  padding: 10px 0;
}

.section-header {
  padding-bottom: $padding-simple-vertical;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  h5 {
    margin: $margin-zero;
    padding-top: 7px;
    font-family: "DIN-Regular", sans-serif;
    font-weight: bold;
  }
  &.section-tabs {
    border: none;
    padding: 0;
    margin-bottom: 10px;
    background: $medium-dark-blue;
    h5 {
      font-family: "DIN-Regular", sans-serif;
      font-weight: bold;
      padding: 0;
      color: $white-color;
      display: inline-block;
      font-size: $font-size-base;
      padding: 12px 15px;
      background: $default-color-bergendy;
    }
  }
  &.section-tabs-bg {
    border: none;
    padding: 0;
    margin-bottom: 10px;
    background: $medium-dark-blue;
    h5 {
      font-family: "DIN-Regular", sans-serif;
      font-weight: bold;
      padding: 0;
      color: $white-color;
      display: inline-block;
      font-size: $font-size-base;
      padding: 12px 15px;
    }
  }
}

.categories-title {
  padding-bottom: 0;
  .title {
    h5 {
      display: inline-block;
    }
    small {
      display: inline-block;
      color: $default-font-color;
      font-size: 12px;
      margin-left: 10px;
    }
  }
  .sort {
    font-weight: 600;
    padding-right: 10px;
  }
  .toolbar-sorter.sorter {
    margin-top: 20px;
    height: 35px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      li {
        display: inline-block;
        padding: 10px 0 4px 0;
        margin: 0 10px;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        &.active {
          color: $warning-color;
          cursor: default;
          border-bottom: 2px solid;
          font-weight: 500;
        }
      }
    }
  }
}

.quotation-form {
  float: left;
  width: 100%;
  margin: 0px auto;
  padding: $padding-base-horizontal $padding-zero;
  textarea {
    resize: none;
    height: 89px !important;
  }
}

.products-slider {
  float: left;
  width: 100%;
  padding: $padding-zero;
  margin: 20px auto 0;
  .section-header {
    float: left;
    width: 100%;
    margin: $margin-vertical-auto;
    padding: $padding-base-vertical $padding-zero;
    >h5 {
      float: left;
    }
    >.slider-buttons {
      float: right;
      >.product-arrow {
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        font-size: 0;
        line-height: 0;
        width: 30px;
        height: 30px;
        padding: $padding-zero;
        position: relative;
        vertical-align: bottom;
      }
      >.product-prev:before,
      .product-next:before {
        font-family: "Pe-icon-7-stroke";
        font-size: 30px;
        line-height: 1;
        color: $dark-gray;
        font-weight: bold;
      }
      >.product-prev::before {
        content: "\e686";
      }
      >.product-prev::after {
        content: "";
        position: absolute;
        right: 0;
        top: 8px;
        height: 50%;
        border-left: 1px solid $medium-dark-gray;
      }
      >.product-next::before {
        content: "\e684";
      }
    }
  }
}

.social-buttons {
  margin: 25px auto 0;
  padding: 25px 0;
  display: flex;
  align-items: center;
  label {
    margin-right: 25px;
    margin-bottom: 0;
  }
  .share-button {
    margin: 0;
    padding: 0;
  }
}

.btn-social {
  opacity: 0.85;
  padding: 8px 9px;
  margin: 0px 15px;
}

.btn-social .fa {
  font-size: 18px;
  vertical-align: middle;
  display: inline-block;
  width: 20px;
}

.btn-social.btn-round {
  padding: 9px 10px;
}

.btn-social.btn-simple {
  padding: 9px 5px;
  font-size: 16px;
}

.btn-social.btn-simple .fa {
  font-size: 35px;
  position: relative;
  top: -2px;
  width: 35px;
}

.btn-social.btn-social.btn-simple .fa.social-icon-auth {
  font-size: 20px;
  color: $white-color;
  width: 18px;
}

.btn-facebook {
  border-color: $social-facebook;
  color: $social-facebook;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active {
  color: $social-facebook !important;
  border-color: $social-facebook !important;
  opacity: 1;
}

.btn-facebook:disabled,
.btn-facebook[disabled],
.btn-facebook.disabled {
  border-color: $social-facebook;
}

.btn-twitter {
  background-color: $social-twitter;
  border-color: $social-twitter;
  color: $white-color;
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open>.btn-twitter.dropdown-toggle {
  background-color: $social-twitter !important;
  color: $white-color !important;
  border-color: $social-twitter !important;
  opacity: 1;
}

.btn-twitter:disabled,
.btn-twitter[disabled],
.btn-twitter.disabled {
  background-color: $social-twitter;
  border-color: $social-twitter;
}

.btn-google {
  border-color: $social-google;
  color: $social-google;
}

.btn-google:hover,
.btn-google:focus,
.btn-google:active,
.btn-google.active,
.open>.btn-google.dropdown-toggle {
  color: $social-google !important;
  border-color: $social-google !important;
  opacity: 1;
}

.wrap-register {
  .register {
    float: left;
    width: 100%;
    padding: 0 30px;
    .agreement-content {
      p {
        margin: 0 auto;
        line-height: 18px;
        font-size: 13px;
      }
    }
    .email-sent {
      text-align: center;
      height: 60vh;
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      h2 {
        margin: 0;
        margin-bottom: 5px;
      }
      h4 {
        font-size: $font-size-medium;
        margin-top: 0;
        em {
          padding-left: 5px;
        }
      }
      p {
        font-size: $font-size-medium;
        padding-bottom: 10px;
        margin-bottom: 0;
        span {
          padding-right: 5px;
        }
        em {
          color: $warning-color;
          font-weight: bold;
          font-style: normal;
        }
      }
    }
  }
}

.email-sent-terms {
  padding: 6px;
  margin: 0 auto;
  font-size: 12px;
  li {
    padding: 5px 0;
    .btn-border {
      border: 1px solid $warning-color;
      padding: 5px 12px;
      color: $warning-color;
      font-size: 12px;
      margin-top: 5px;
    }
  }
}

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
  &:after {
    display: table;
    clear: both;
    content: " ";
  }
  &.wrapper-full-page {
    height: auto;
    min-height: 100vh;
  }
}

.full-page {
  &:after,
  &:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
  &:before {
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &:after {
    @include icon-gradient($black-color-top, $black-color-top);
    z-index: 3;
  }
  .full-page-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 20% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  &.has-image::after {
    opacity: 0.8;
  }
  >.content {
    position: relative;
    z-index: 4;
    min-height: calc(100vh - 70px);
  }
}

.login-page {
  padding-top: 10vh;
  .login-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
  }
}

.paginations {
  text-align: center;
  padding: 10px 0;
  font-weight: 500;
  margin-top: 25px;
  .pager {
    float: left;
    line-height: 45px;
    font-weight: normal;
    margin: 0 auto;
  }
  .previous {
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 25px;
    cursor: pointer;
  }
  .next {
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 25px;
    cursor: pointer;
  }
  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
}

.Select-control {
  border-radius: 0px;
  border: 1px solid $medium-gray;
  background-color: rgba(0, 0, 0, 0.01);
}

.Select.has-value.Select--single>.Select-control .Select-value .Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
  font-weight: 700;
}

.Select.is-focused:not(.is-open)>.Select-control {
  border-color: #b3b3b3;
  box-shadow: none;
}

.error-message {
  text-align: center;
  p {
    color: $danger-color;
  }
}

[class^="icon-static"],
[class*="icon-static"] {
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 5px;
}

.icon-payment {
  background: url("../img/icon/coins.png");
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  vertical-align: middle;
}

.icon-checked {
  background: url("../img/icon/checked.png");
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  vertical-align: middle;
}


.icon-diamond {
  background: url("../img/icon/diamond.png");
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  vertical-align: middle;
}

.icon-yrs {
  background: url("../img/icon/yrs.png");
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  vertical-align: middle;
}

.icon-assets {
  background: url("../img/icon/assets.jpg");
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  vertical-align: middle;
}

.icon-shopping-bag {
  background: url("../img/icon/shopping-bag.png");
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  vertical-align: middle;
  display: inline-block;
  width: 25px;
  height: 30px;
}

.profile {
  .checkbox {
    margin: 0;
    input[type="checkbox"]:checked+label::after {
      left: 2px;
    }
  }
}

.verification {
  height: 70vh;
  display: flex;
  align-items: center;
}

.pac-container {
  z-index: 1119;
}

.container-loader {
  height: 250px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  .loader {
    position: absolute;
    top: 43%;
    z-index: 1;
    font-size: 18px;
    .fa {
      float: left;
      margin-right: 10px;
      line-height: 36px;
      color: #000;
    }
    h5 {
      float: left;
      color: #000;
    }
  }
}

.dashboard-products {
  .section-header {
    float: left;
    width: 100%;
    .title {
      float: left;
      padding-top: 10px;
    }
    .product-add-button {
      float: right;
      a {
        color: $white-color;
        text-transform: capitalize;
        &:hover {
          color: $warning-color;
        }
      }
    }
  }
  .result-showing {
    margin-top: 10px;
  }
}
.dashboard-product-reviews {
  .section-header {
    float: left;
    width: 100%;
    .title {
      float: left;
      padding-top: 10px;
    }
    .product-reviews-button {
      float: right;
      .btn-link {
        color: #000;
        text-transform: capitalize;
        i {
          vertical-align: middle;
          font-size: 18px;
          padding-right: 5px;
          line-height: 0;
          font-weight: bold;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .result-showing {
    margin-top: 10px;
  }
}

.account-quotation {
  .section-header {
    float: left;
    width: 100%;
    .title {
      float: left;
      padding-top: 10px;
    }
    .request_quotation_button {
      float: right;
      a {
        color: $white-color;
        text-transform: capitalize;
        &:hover {
          color: $warning-color;
        }
      }
    }
  }
}

.page-header {
  margin: 0 auto;
  padding: 0px;
  @include box-shadow( 0px 3px 5px rgba(0,
  0,
  0,
  0.2),
  0 0 0 1px rgba(63,
  63,
  68,
  0.1));
  .title {
    ul {
      list-style: none;
      margin: 0 auto;
      padding: 0;
      li {
        display: inline-block;
        font-size: 16px;
        color: #6d6d6d;
        font-family: "Helvetica Neue", Arial, sans-serif;
        font-weight: $font-weight-light;
        padding: 10px 15px;
      }
      li.right {
        float: right;
        border-left: 1px solid #d9d9d9;
        padding: 10px 20px;
      }
    }
  }
}

.ads-banners {
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  height: auto;
  float: left;
  @include box-shadow( 0px 3px 5px rgba(0,
  0,
  0,
  0.2),
  0 0 0 1px rgba(63,
  63,
  68,
  0.1));
  .ads {
    width: 100%;
    height: 534px;
    float: left;
    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.seprate-accounts {
  margin-bottom: 0;
  line-height: 1;
  margin-top: 10px;
  font-size: 12px;
}

.home-banners {
  padding: 45px 0 20px;
  float: left;
  width: 100%;

  .col-md-6 {
    padding: 0;
    padding-right: 6px;
    &:last-child{
      padding-right: 0;
      padding-left: 6px;
    }
  }
  
  .col-md-12 {
    padding: 0;
  }
  .image-banner-container {
    float: left;
    width: 100%;
    height: 250px;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }
}

.supplier_by_regions {
  .regions {
    ul {
      list-style: none;
      margin-top: 20px;
      margin-left: 0;
      float: left;
      padding: 0;
      li {
        float: left;
        padding: 15px 30px 0 0;
        a {
          color: #2d3c4d;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          img {
            margin-right: 10px;
            width: 30px;
          }
        }
      }
    }
  }
  .supplier_banner {
    // background: url("../img/banners/suppliers_banner.png");
    color: #FFF;
    margin: 20px 0;
    display: block;
    height: 121px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    .supplier_text {
      float: left;
      padding: 34px;
      h3 {
        color: #e2c029;
        margin: 0;
        text-transform: uppercase;
        margin-bottom: 5px;
      }
      p {
        text-transform: uppercase;
        margin: 0;
        font-size: 12px;
      }
    }
    .supplier_button {
      float: left;
      padding: 40px 6em 40px;
      .btn-default.btn-fill {
        background: transparent;
        text-transform: uppercase;
      }
      .btn-default.btn-border {
        color: #e2c029;
        border-color: #e2c029;
      }
    }
  }
}

.carousel {
  .carousel-inner {
    height: 380px;
    .item{
      > a {
        > img{
          height: 380px;
        }
      }
    }
  }
}
.static-page{
  float: left;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  .page-header{
    box-shadow: none;
    text-align: center;
    h1{
      color: #7d1516;
      padding-bottom: 8px;
      font-size: 28px;
    }
  }
}
.fluid {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: Arial;
  line-height: 1.3;
  font-size: 16px;
}
.react-slick * {
  min-height: 0;
  min-width: 0;
}
@media (min-width: 480px) {
  .fluid {
    flex-direction: row;
  }

  .fluid__image-container{
    flex: 0 0 30%;
    margin: 20px 0 20px 20px;
  }
}
.box-listings{
  .box-list-items {
    float: left;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;
    @include box-shadow( 3px 3px 5px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(63, 63, 68, 0.1));
    .nopad {
        padding: 0;
    }

    .box-list-item-details {
      float: left;
      width: 100%;
      margin: 0 auto;
      padding: 0;
      .image-container {
        width: 20%;
        float: left;
        margin: 0 auto;
        padding: 0;
        height: 110px;
        .product-image-container {
            float: left;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0px;
            border-radius: 5px;
            a {
                float: left;
                width: 100%;
                height: 110px;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
        .box-list-title {
            margin: 0;
            padding: 10px 15px 0;
            float: left;
            h3 {
              margin: 0px;
              padding: 0px;
              font-size: 16px;
              font-weight: bold;
              color: #808080;
              text-transform: capitalize;
          }
        }
        .box-list-rating-summary{
          clear: both;
          padding: 0 15px;
          .box-list-rating-result {
            width: 108px;
            position: relative;
            vertical-align: middle;
            display: inline-block;
            >span {
              display: block;
              overflow: hidden;
              span {
                border: 0 none;
                clip: rect(0px, 0px, 0px, 0px);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
              }
              &::before {
                content: "\f005" "\f005" "\f005" "\f005" "\f005";
                color: #7d1516;
                position: relative;
                z-index: 2;
              }
            }
            &::before {
              content: "\f005" "\f005" "\f005" "\f005" "\f005";
              position: absolute;
              top: 0;
              left: 0;
              color: #c3c3c3;
              width: 100%;
              z-index: 1;
            }
            & span:before,
            &:before {
              font-family: FontAwesome;
              font-style: normal;
              font-weight: 400;
              display: block;
              letter-spacing: 3px;
              font-size: 18px;
              height: 18px;
              line-height: 18px;
            }
            & span:before,
            & .rating-result:before {
              height: 18px;
              line-height: 18px;
              letter-spacing: 3px;
              font-size: 18px;
            }
          }
        }
        
        .box-item-inner {
          margin: 0;
          text-align: left;
          padding: 0;
          float: right;
          opacity: 0;
          visibility: hidden;
          overflow: hidden;
          @include transition(0.2s, ease);
          @include translate-x(60px);
          .action {
            display: inline-block;
            margin: 0 5px;
            font-size: 20px;
            cursor: pointer;
          }
          .action-edit {
            border: 1px solid $info-color;
            line-height: 5px;
            padding: 5px;
            background: $info-states-color;
            color: #fff;
            border-radius: 3px;
          }
          .action-status {
            line-height: 5px;
            padding: 5px;
            border-radius: 3px;
          }
        }
        .box-list-item-detail {
          float: left;
          padding: 15px;
          width: 100%;
          text-align: justify;
        }
    }
    .quotation-container-button {
        .quotation-button {
            height: 120px;
        }
    }
    &:hover .box-item-inner {
      visibility: visible;
      opacity: 1;
      @include transition(0.4s, $transition-ease);
      @include translate-x(0);
    }
  }
}
.account-orders{
  .result-showing {
    margin-top: 10px;
  }
  .box-listings {
    .box-list-items {
      .box-list-item-details {
        float: left;
        width: 80%;
        margin: 0 auto;
        padding: 0;
        .image-container{
          padding: 0 15px;
          margin-top: 5px;
          width: 25%;
        }
        .box-list-item-detail{
          float: left;
          width: 50%;
          padding: 10px;
          .box-list-item-desc{
            p{
              margin: 0;
            }
          }
        }
        .box-list-title{
          width: 100%;
        }
      }
      .box-container-button {
        float: left;
        width: 20%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        .box-button {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            height: 145px;
            .open {
                background-color: #00cf59;
                border-color: #00cf59;
                padding: 2px 5px;
                text-transform: uppercase;
                margin-bottom: 5px;
                cursor: default;
            }
            .view-order{
              padding: 2px 16px;
              text-transform: uppercase;
            }
            .closed,
            .rejected {
                background-color: #d02023;
                border-color: #d02023;
                padding: 2px 25px;
                text-transform: uppercase;
                margin-bottom: 5px;
                cursor: default;
            }
        }
    }
    }
  }
}
.compare-product-section{
  .compare-title{
    h1{
      margin: 10px 0;
      font-size: 25px;
    }
  }
  .product-compare-table{
    float: left;
    width: 100%;
    .product-table-header{
      background: #7d1516;
      padding: 20px 10px;
      margin: 15px 0 0;
      color: #fff;
      h2{
        font-size: 20px;
        margin:0;
        line-height: 1;
      }
    }
  }
}
$image-overlay-opacity: 0.7;
$product-main-color: #7d1516;
.account-wishlists{
  .wishlist-product{
    margin-top: 20px;
  }
  .product {
    cursor: pointer;
    position: relative;
    padding-bottom: 100px;
    border-radius: 5px;
    overflow: hidden;
    transition: all 500ms ease-out;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    height: 350px;
    &:hover {
      box-shadow: 0 13px 21px -5px rgba(0, 0, 0, 0.2);
      .image_overlay {
        opacity: $image-overlay-opacity;
      }
  
      .view_details {
        opacity: 1;
        width: 152px;
        font-size: 15px;
        margin-left: -75px;
        top: 35%;
        transition: all 200ms ease-out;
      }
    }
  
    img {
      width: 100%;
      object-fit: scale-down;
    }
  
    &.compare {
      .image_overlay {
        opacity: $image-overlay-opacity;
      }
    }
  
    .stats-container {
      background: #fff;
      padding: 25px 15px;
      position: absolute;
      bottom: 0;
      width: 100%;
  
      .product_name {
        font-size: 22px;
        color: #393c45;
      }
  
      p {
        font-size: 16px;
        color: #b1b1b3;
        margin: 0;
      }
  
      .product_price {
        float: right;
        color: $product-main-color;
        font-size: 22px;
        font-weight: 600;
      }
    }
  
    .image_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $product-main-color;
      opacity: 0;
      transition: all 200ms ease-out;
    }
  
    .view_details {
      position: absolute;
      top: 112px;
      left: 50%;
      margin-left: -85px;
      border: 2px solid #fff;
      color: #fff;
      font-size: 19px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      padding: 10px 0;
      width: 172px;
      opacity: 0;
      transition: all 200ms ease-out;
  
      &:hover {
        background: #fff;
        color: $product-main-color;
        cursor: pointer;
      }
    }
  }
}
.product-share-buttons{
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    li{
      padding: 5px;
    }
  }
}
.seller-certificate{
  .dropzone-certificate{
    width: 100%;
    height: 200px;
    border: 2px dashed #d3d3d3;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .images-preview .preview{
    text-align: left;
    .preview-box{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.seller-video{
  .dropzone-video{
    width: 100%;
    height: 200px;
    border: 2px dashed #d3d3d3;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .video-preview{
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
  }
}
.seller-certificate-show{
  .preview-box{
    margin-bottom: 10px !important
  }
}

.view-order{
  .go-back-button {
    margin-top: 10px;
    .btn.btn-fill {
        color: #000;
        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }
        i {
            vertical-align: middle;
            font-size: 18px;
            padding-right: 5px;
            line-height: 0;
            font-weight: bold;
        }
    }
  }
  .introduce-block{
    .introduce-title{
      font-size: 18px;
      color: #000;
      margin-top: 12px;
    }
    .introduce-list{
      display: flex;
      padding: 8px;
      border: 1px solid #ccc;
      margin: 12px 0;
      .feature {
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        color: #666;
        text-align: center;
      }
    }
  }
  .product-infromation{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    .seller-infromation{
      float: left;
      width: 100%;
      margin: 0;
      padding: 8px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      .seller-company-name{
        float: left;
        p{
          margin: 0;
        }
      }
      .chat-button{
        float: right;
        .btn-fill{
          padding: 2px 15px;
        }
      }
    }
    .product-details{
      float: left;
      width: 100%;
      margin: 0;
      padding: 15px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      .image-container{
        float: left;
        width: 20%;
        margin-right: 10px;
        height: 100px;
        background: #ddd;
        a {
          img{
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            height: 100px;
            width: 100%;
          }
        }
      }
      .product{
        float: left;
        .product-label{
          font-size: 18px;
          text-transform: capitalize;
        }
      }
    }
    .product-total{
      float: left;
      width: 100%;
      margin: 0;
      padding: 10px 0 0;
      p{
        margin: 0;
        font-size: 14px;
        color: #7d1516;
        span{
          color: #909297;
        }
      }
    }
  }
  .seller-order-view{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    .go-back-button{
      margin-bottom: 10px;
    }
  }
  .order-action-buttons{
    float: left;
    width: 100%;
    margin-bottom: 15px;
  }
  .order-details{
    .form-group {
      .form-control-static{
        display: block!important;
      }
    }
  }
  .card-text{
    float: left;
    width: 100%;
  }
  .tracking-list {
    [class*=tracking-status-] p {
      margin:0;
      font-size:1.1rem;
      color:#fff;
      text-transform:uppercase;
      text-align:center
     }
     [class*=tracking-status-] {
      padding:1.6rem 0
     }
     .tracking-status-intransit {
      background-color:#65aee0
     }
     .tracking-status-outfordelivery {
      background-color:#f5a551
     }
     .tracking-status-deliveryoffice {
      background-color:#f7dc6f
     }
     .tracking-status-delivered {
      background-color:#4cbb87
     }
     .tracking-status-attemptfail {
      background-color:#b789c7
     }
     .tracking-status-error,.tracking-status-exception {
      background-color:#d26759
     }
     .tracking-status-expired {
      background-color:#616e7d
     }
     .tracking-status-pending {
      background-color:#ccc
     }
     .tracking-status-inforeceived {
      background-color:#214977
     }
    .tracking-item {
      border-left:1px solid #e5e5e5;
      position:relative;
      padding:2rem 1.5rem .5rem 2.5rem;
      font-size:.9rem;
      margin-left:3rem;
      min-height:5rem
     }
     .tracking-item:last-child {
      padding-bottom:4rem
     }
     .tracking-item .tracking-date {
      margin-bottom:.5rem
     }
     .tracking-item .tracking-date span {
      color:#888;
      font-size:85%;
      padding-left:.4rem
     }
     .tracking-item .tracking-content {
      padding:.5rem .8rem;
      background-color:#f4f4f4;
      border-radius:.5rem;
      font-size: 12px;
      text-transform: capitalize;
      padding-top: 4px;
     }
     .tracking-item .tracking-content span {
      display:block;
      color:#888;
      font-size:85%
     }
     .tracking-item .tracking-icon {
      line-height:2.6rem;
      position:absolute;
      left:-1.3rem;
      width:2.6rem;
      height:2.6rem;
      text-align:center;
      border-radius:50%;
      font-size:1.1rem;
      background-color:#fff;
      color:#fff
     }
     .tracking-item .tracking-icon.status-sponsored {
      background-color:#f68
     }
     .tracking-item .tracking-icon.status-delivered {
      background-color:#4cbb87
     }
     .tracking-item .tracking-icon.status-outfordelivery {
      background-color:#f5a551
     }
     .tracking-item .tracking-icon.status-deliveryoffice {
      background-color:#f7dc6f
     }
     .tracking-item .tracking-icon.status-attemptfail {
      background-color:#b789c7
     }
     .tracking-item .tracking-icon.status-exception {
      background-color:#d26759
     }
     .tracking-item .tracking-icon.status-inforeceived {
      background-color:#214977
     }
     .tracking-item .tracking-icon.status-intransit {
      color:#e5e5e5;
      border:1px solid #e5e5e5;
      font-size:.6rem
     }
    @media(min-width:992px) {
      .tracking-item {
       margin-left:10rem
      }
      .tracking-item .tracking-date {
       position:absolute;
       left:-10rem;
       width:7.5rem;
       text-align:right;
       font-size: 11px;
      }
      .tracking-item .tracking-date span {
       display:block
      }
      .tracking-item .tracking-content {
       padding:0;
       background-color:transparent;
       padding-top: 4px;
      }
    }
   }
}

.next-step-horizontal{
  display: flex;
  .next-step-item {
    display: inline-block;
    text-align: center;
  }
}
.next-step-circle {
  &.next-step-horizontal{
    & >.next-step-item {
      .next-step-item-tail{
        position: absolute;
        width: calc(100% - 48px);
        height: auto;
        left: calc(50% + 24px);
        top: 15.5px;
        .next-step-item-tail-underlay {
          display: block;
          height: 1px;
          position: relative;
          transition: all .4s ease;
          background: #ccc;
          .next-step-item-tail-overlay {
            position: absolute;
            top: 0;
            height: 1px;
            transition: all .4s ease;
            width: 0;
            background: #C4C6CF;
          }
        }
      }
      .next-step-item-container {
        > .next-step-item-node{
          padding: 0 8px;
          width: 48px;
          height: 32px;
          color: #999;
          cursor: default;
          .next-step-item-node-circle {
            display: block;
            width: 32px;
            height: 32px;
            font-size: 14px;
            line-height: 30px;
            text-align: center;
            border: 1px solid;
            border-radius: 50%;
            transition: background-color .2s ease,border-color .2s ease;
          }
        }
        .next-step-item-title {
          font-size: 12px;
          line-height: 16px;
          margin-top: 8px;
          text-align: center;
        }
      }
    }
    .next-step-item-last {
      .next-step-item-tail{
        display: none;
      }
    }
  }
  
  .next-step-item-process{
    & >.next-step-item-container{
      .next-step-item-node-circle{
        background: #7d1516;
        border-color: #7d1516 !important;
        color: #fff;
      }
    } 
  }
  .next-step-item-wait{
    & >.next-step-item-container{
      .next-step-item-node-circle{
        background: #FFF;
        border-color: #C4C6CF;
      }
    } 
  }
  .next-step-item-node {
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }
}
.next-step {
  width: 100%;
  overflow: hidden;
  position: relative;
  border: none;
  color: #333;
  font-size: 12px;
  line-height: 1.28571;
  box-sizing: border-box;
  margin-top: 40px;
  .next-step-item {
    flex: 1;
    position: relative;
    vertical-align: top;
  }
}
.location-filter{
  .filter-categories {
    .filter-category {
      .category {
        ul {
          li{
            padding: 0;
          }
        }
      }
    }
  }
}