.quotation-section {
    .quotations-filter {
        .dropdown {
            // width: 100%;
            &.open {
                &>.dropdown-toggle.btn-default {
                    &:hover,
                    &:focus,
                    &:active {
                        background-color: transparent;
                    }
                }
            }
            .dropdown-menu {
                background: #fff;
                border-radius: 0px;
                &>li>a {
                    color: #000;
                    border-color: #f7f7f7;
                    &:hover,
                    &:focus {
                        background-color: #ddd;
                        border-left: none;
                    }
                }
                &>li:first-child>a {
                    border-radius: 0px;
                }
                &>li:last-child>a {
                    border-radius: 0px;
                }
            }
            .btn {
                border: 1px solid #ddd;
                border-radius: 0;
                display: block;
                opacity: 1;
                padding: 9px 16px;
                color: #808080;
                text-transform: uppercase;
                .caret {
                    margin-left: 25px;
                    border-top-color: #808080;
                }
            }
        }
    }
    .quotaion-search {
        margin: 0 0 15px;
        padding: 0;
        float: left;
        width: 100%;
        .dropdown {
            // width: 100%;
            &.open {
                &>.dropdown-toggle.btn-default {
                    &:hover,
                    &:focus,
                    &:active {
                        background-color: transparent;
                    }
                }
            }
            .dropdown-menu {
                background: #fff;
                border-radius: 0px;
                &>li>a {
                    color: #000;
                    border-color: #f7f7f7;
                    &:hover,
                    &:focus {
                        background-color: #ddd;
                        border-left: none;
                    }
                }
                &>li:first-child>a {
                    border-radius: 0px;
                }
                &>li:last-child>a {
                    border-radius: 0px;
                }
            }
            .btn {
                border-color: #ddd;
                border-width: 1px;
                border-radius: 0;
                display: block;
                width: 100%;
                opacity: 1;
                padding: 9px 16px;
                color: #808080;
                i {
                    padding-right: 10px;
                }
            }
        }
        .btn-fill {
            padding-left: 20px;
            padding-right: 20px;
            span {
                font-size: 18px;
                vertical-align: middle;
            }
        }
    }
    .quotaion-search-form {
        .dropdown {
            // width: auto;
        }
    }
    .title {
        font-size: 12px;
        color: #808080;
        padding: 0;
        margin: 0px 8px;
        border-bottom: 1px solid #e7e7e7;
    }
    .quotations {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        .go-back-button {
            .btn.btn-fill {
                color: #000;
                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                }
                i {
                    vertical-align: middle;
                    font-size: 18px;
                    padding-right: 5px;
                    line-height: 0;
                    font-weight: bold;
                }
            }
        }
        .quotation-item {
            float: left;
            width: 100%;
            margin: 10px auto;
            padding: 10px;
            border-bottom: 1px solid #e7e7e7;
            @include box-shadow( 3px 3px 5px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(63, 63, 68, 0.1));
            .nopad {
                padding: 0;
            }
            .quotation-item-details {
                float: left;
                width: 80%;
                margin: 0 auto;
                padding: 0;
                .quotation-product-title {
                    margin-bottom: 10px;
                    h3 {
                        margin: 0px;
                        padding: 0px;
                        font-size: 16px;
                        font-weight: bold;
                        color: #808080;
                        span{
                            &.open {
                                background-color: #00cf59;
                                border-color: #00cf59;
                                text-transform: uppercase;
                                cursor: default;
                            }
                            &.closed,
                            &.rejected {
                                background-color: #d02023;
                                border-color: #d02023;
                                text-transform: uppercase;
                                cursor: default;
                            }
                        }
                    }
                }
                .image-container {
                    width: 20%;
                    float: left;
                    margin: 0 auto;
                    padding: 0;
                    height: 110px;
                    .product-image-container {
                        float: left;
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        padding: 0px;
                        border-radius: 5px;
                        a {
                            float: left;
                            width: 100%;
                            height: 110px;
                            img {
                                max-width: 100%;
                                max-height: 100%;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
                .quotation-item-detail {
                    float: left;
                    padding: 15px 5em 10px 15px;
                    width: 80%;
                    .quotation-quantity {
                        display: inline-flex;
                        padding-top: 0em;
                        p {
                            padding-right: 10px;
                            font-size: 14px;
                        }
                    }
                    p {
                        font-size: 13px;
                        color: #7f7f7f;
                    }
                    .quotation-posted {
                        display: flex;
                        align-items: baseline;
                        padding-top: 10px;
                        .btn-warning.btn-fill {
                            padding: 2px 5px;
                            font-size: 12px;
                            i {
                                vertical-align: middle;
                                font-size: 18px;
                                line-height: 0;
                            }
                        }
                        p{
                            margin-left: 10px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .quotation-container-button {
                float: left;
                width: 20%;
                margin: 0 auto;
                padding: 0;
                text-align: center;
                .quotation-button {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    height: 145px;
                    .quote-count {
                        color: #808080;
                        margin-top: 10px;
                    }
                    .btn-quote {
                        padding: 5px 15px;
                        margin-top: 5px;
                    }
                    .open {
                        background-color: #00cf59;
                        border-color: #00cf59;
                        padding: 2px 30px;
                        text-transform: uppercase;
                        margin-bottom: 5px;
                        cursor: default;
                    }
                    .closed,
                    .rejected {
                        background-color: #d02023;
                        border-color: #d02023;
                        padding: 2px 25px;
                        text-transform: uppercase;
                        margin-bottom: 5px;
                        cursor: default;
                    }
                }
            }
        }
        .view-quotation-item {
            .quotation-item-details {
                .quotation-product-title {
                    margin: 0;
                    padding: 15px 15px 5px;
                }
                .quotation-item-detail {
                    padding-top: 0;
                    width: 100%;
                    .quotation-quantity {
                        p {
                            font-weight: bold;
                            color: #cccccc;
                            b {
                                color: #9a9a9a;
                            }
                        }
                    }
                }
                .quotation-posted {
                    .btn-warning.btn-fill {
                        display: inline-block;
                        margin-right: 10px;
                    }
                    p {
                        display: inline-block;
                        color: #9a9a9a;
                        font-weight: bold;
                        span {
                            color: #cccccc;
                        }
                    }
                }
            }
            .quotation-container-button {
                .quotation-button {
                    height: 120px;
                }
            }
        }
        .view-quotation-slider-item {
            padding: 15px 25px;
            margin: 0 auto;
            .slider-title {
                margin: 0;
                h3 {
                    margin: 0px;
                    padding: 10px 0;
                    font-size: 20px;
                    font-weight: bold;
                    color: #808080;
                }
            }
            .quotation-product-images {
                .quotation-images-slider {
                    padding: 0 5px;
                    .slick-prev,
                    .slick-next {
                        &:before {
                            font-family: "Pe-icon-7-stroke";
                            color: $black-color;
                            font-size: 40px;
                        }
                    }
                    .slick-arrow {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        width: 5%;
                        opacity: 1;
                        text-align: center;
                        text-shadow: 0 1px 2px rgba(245, 150, 142, 0.6);
                        background-color: transparent;
                        transform: none;
                        height: auto;
                    }
                    .slick-prev {
                        z-index: 1;
                        &::before {
                            content: "\e686";
                        }
                    }
                    .slick-next {
                        left: auto;
                        right: 0;
                        z-index: 1;
                        &::before {
                            content: "\e684";
                        }
                    }
                }
                .item {
                    float: left;
                    text-align: center;
                    padding-bottom: 0;
                    margin-bottom: 20px;
                    margin-top: 20px;
                    width: 100%;
                    .image-container {
                        float: left;
                        height: 180px;
                        width: 180px;
                        margin: 0 auto;
                        padding: 10px;
                        overflow: hidden;
                        border: 1px solid #ebebeb;
                        border-radius: 5px;
                        .product-item-photo {
                            max-width: 100%;
                            max-height: 100%;
                            width: 100%;
                            height: 100%;
                            float: left;
                            margin: 0 auto;
                            padding: 0;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
        .paginations {
            margin: 15px 0;
        }
    }
}

.account-quotation {
    .result-showing{
        margin-top: 10px;
    }
    .quotations-filter {
        .dropdown {
            // width: 100%;
            &.open {
                &>.dropdown-toggle.btn-default {
                    &:hover,
                    &:focus,
                    &:active {
                        background-color: transparent;
                    }
                }
            }
            .dropdown-menu {
                background: #fff;
                border-radius: 0px;
                &>li>a {
                    color: #000;
                    border-color: #f7f7f7;
                    &:hover,
                    &:focus {
                        background-color: #ddd;
                        border-left: none;
                    }
                }
                &>li:first-child>a {
                    border-radius: 0px;
                }
                &>li:last-child>a {
                    border-radius: 0px;
                }
            }
            .btn {
                border: 1px solid #ddd;
                border-radius: 0;
                display: block;
                opacity: 1;
                padding: 9px 16px;
                color: #808080;
                text-transform: uppercase;
                .caret {
                    margin-left: 25px;
                    border-top-color: #808080;
                }
            }
        }
    }
    .quotations {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        .go-back-button {
            .btn.btn-fill {
                color: #000;
                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                }
                i {
                    vertical-align: middle;
                    font-size: 18px;
                    padding-right: 5px;
                    line-height: 0;
                    font-weight: bold;
                }
            }
        }
        .quotation-item {
            float: left;
            width: 100%;
            margin: 10px auto;
            padding: 10px;
            border-bottom: 1px solid #e7e7e7;
            @include box-shadow( 3px 3px 5px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(63, 63, 68, 0.1));
            .nopad {
                padding: 0;
            }
            .quotation-item-details {
                float: left;
                width: 80%;
                margin: 0 auto;
                padding: 0;
                .quotation-product-title {
                    margin-bottom: 10px;
                    h3 {
                        margin: 0px;
                        padding: 0px;
                        font-size: 16px;
                        font-weight: bold;
                        color: #808080;
                    }
                }
                .image-container {
                    width: 20%;
                    float: left;
                    margin: 0 auto;
                    padding: 0;
                    height: 110px;
                    .product-image-container {
                        float: left;
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        padding: 0px;
                        border-radius: 5px;
                        a {
                            float: left;
                            width: 100%;
                            height: 110px;
                            img {
                                max-width: 100%;
                                max-height: 100%;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
                .quotation-item-detail {
                    float: left;
                    padding: 15px 5em 10px 15px;
                    width: 80%;
                    .quotation-quantity {
                        display: inline-flex;
                        padding-top: 0em;
                        p {
                            padding-right: 10px;
                            font-size: 14px;
                        }
                    }
                    p {
                        font-size: 13px;
                        color: #7f7f7f;
                    }
                    .quotation-posted {
                        padding-top: 10px;
                        .btn-warning.btn-fill {
                            padding: 2px 5px;
                            font-size: 12px;
                            i {
                                vertical-align: middle;
                                font-size: 18px;
                                line-height: 0;
                            }
                        }
                    }
                }
            }
            .quotation-container-button {
                float: left;
                width: 20%;
                margin: 0 auto;
                padding: 0;
                text-align: center;
                .quotation-button {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    height: 145px;
                    .quote-count {
                        color: #808080;
                    }
                    .btn-quote {
                        padding: 5px 15px;
                        margin-top: 5px;
                    }
                    .open {
                        background-color: #00cf59;
                        border-color: #00cf59;
                        padding: 2px 30px;
                        text-transform: uppercase;
                        margin-bottom: 5px;
                        cursor: default;
                    }
                    .closed,
                    .rejected {
                        background-color: #d02023;
                        border-color: #d02023;
                        padding: 2px 25px;
                        text-transform: uppercase;
                        margin-bottom: 5px;
                        cursor: default;
                    }
                }
            }
        }
        .view-quotation-item {
            .quotation-item-details {
                .quotation-product-title {
                    margin: 0;
                    padding: 15px 15px 5px;
                }
                .quotation-item-detail {
                    padding-top: 0;
                    .quotation-quantity {
                        p {
                            font-weight: bold;
                            color: #cccccc;
                            b {
                                color: #9a9a9a;
                            }
                        }
                    }
                }
                .quotation-posted {
                    .btn-warning.btn-fill {
                        display: inline-block;
                        margin-right: 10px;
                    }
                    p {
                        display: inline-block;
                        color: #9a9a9a;
                        font-weight: bold;
                        span {
                            color: #cccccc;
                        }
                    }
                }
            }
            .quotation-container-button {
                .quotation-button {
                    height: 120px;
                }
            }
        }
        .view-quotation-slider-item {
            padding: 15px 25px;
            margin: 0 auto;
            .slider-title {
                margin: 0;
                h3 {
                    margin: 0px;
                    padding: 10px 0;
                    font-size: 20px;
                    font-weight: bold;
                    color: #808080;
                }
            }
            .quotation-product-images {
                .quotation-images-slider {
                    padding: 0 5px;
                    .slick-track{
                        margin-left: 0;
                        margin-right: 0;
                    }
                    .slick-prev,
                    .slick-next {
                        &:before {
                            font-family: "Pe-icon-7-stroke";
                            color: $black-color;
                            font-size: 40px;
                        }
                    }
                    .slick-arrow {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        width: 5%;
                        opacity: 1;
                        text-align: center;
                        text-shadow: 0 1px 2px rgba(245, 150, 142, 0.6);
                        background-color: transparent;
                        transform: none;
                        height: auto;
                    }
                    .slick-prev {
                        z-index: 1;
                        &::before {
                            content: "\e686";
                        }
                    }
                    .slick-next {
                        left: auto;
                        right: 0;
                        z-index: 1;
                        &::before {
                            content: "\e684";
                        }
                    }
                }
                .item {
                    float: left;
                    text-align: center;
                    padding-bottom: 0;
                    margin-bottom: 20px;
                    margin-top: 20px;
                    width: 100%;
                    .image-container {
                        float: left;
                        height: 180px;
                        width: 180px;
                        margin: 0 auto;
                        padding: 10px;
                        overflow: hidden;
                        border: 1px solid #ebebeb;
                        border-radius: 5px;
                        .product-item-photo {
                            max-width: 100%;
                            max-height: 100%;
                            width: 100%;
                            height: 100%;
                            float: left;
                            margin: 0 auto;
                            padding: 0;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
        .paginations {
            margin: 15px 0;
        }
    }
}

.request_quotation {
    .request_quotation_form {
        .form-header {
            .title {
                h4 {
                    margin: 10px auto;
                    padding: 0;
                    font-weight: bold;
                }
            }
        }
        .form-title {
            h4 {
                margin-bottom: 5px;
                margin: 0 auto;
                padding: 0;
                font-weight: bold;
                font-size: 18px;
            }
            p {
                color: #888;
                line-height: 1;
                margin-top: 5px;
                margin-bottom: 20px;
            }
        }
        .form-group {
            .control-label {
                padding-top: 8px;
            }
            .form-control-static {
                color: #808080;
                font-size: 14px;
            }
            label {
                color: #808080;
            }
        }
        .image-form {
            &>.image-input {
                .form-group {
                    margin-left: 0px;
                    margin-right: 0px;
                }
                .btn-browse {
                    border: 1px dotted rgba(0, 0, 0, 0.2);
                    border-radius: 100%;
                    height: 70px;
                    width: 70px;
                    margin: 0 auto;
                    background: transparent;
                    color: #000;
                    i {
                        font-size: 2em;
                    }
                    p {
                        margin: 0;
                        font-size: 6px;
                    }
                }
            }
        }
        .images-preview {
            .preview {
                margin-top: 0;
            }
        }
        .form-footer {
            h4 {
                font-weight: bold;
                margin-bottom: 0;
            }
            p {
                color: #888;
                font-size: 14px;
            }
        }
    }
}

.request_for_quotation {
    .section-header {
        padding-top: 20px;
        margin: 20px auto 0;
    }
    .request_quotation_left {
        background-color: #ebe7e7;
        padding: 35px 30px;
        text-align: center;
        min-height: 450px;
        margin: 15px 0;
        .request_quotation_row {
            float: left;
            width: 100%;
            h2 {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 10px;
                text-align: center;
                margin-top: 0;
                text-transform: uppercase;
                font-weight: bold;
                span {
                    display: block;
                    color: #7d1516;
                }
            }
            .quote-circle {
                background-color: #FFF;
                width: 130px;
                height: 130px;
                margin: 0 auto;
                border: 5px #f6dfcd solid;
                text-align: center;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .request_quotation_row_bottom {
            padding-top: 25px;
            float: left;
            width: 100%;
            h3 {
                padding-bottom: 25px;
                font-size: 20px;
                color: #444;
                margin: 0;
                text-transform: uppercase;
                font-weight: bold;
            }
            h4 {
                padding-top: 8px;
                font-size: 15px;
                color: #7d1516;
                margin: 0;
                text-transform: uppercase;
                font-weight: bold;
            }
            .quote-circle-small {
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -o-border-radius: 50%;
                -ms-border-radius: 50%;
                border-radius: 50%;
                background-color: #FFF;
                width: 70px;
                height: 70px;
                line-height: 60px;
                margin: 0 auto;
                border: 5px #f6dfcd solid;
                text-align: center;
            }
        }
    }
    .request_quotation_right {
        background-color: #37475a;
        padding: 35px;
        min-height: 450px;
        margin: 15px 0;
        h3 {
            color: #FFF;
            font-size: 18px;
            padding-bottom: 25px;
            margin: 0;
            text-transform: uppercase;
            font-weight: bold;
            + .row{
                display: flex;
                align-items: center;
                height: 330px;
            }
        }
        .btn-toolbar {
            .btn-group {
                >.btn {
                    color: #000;
                    background: #f3f3f3;
                    padding: 8px 4px;
                    &.active {
                        background-color: #e6e6e6;
                    }
                }
            }
        }
    }
}
.dashboard-quotes{
    .result-showing{
        margin-top: 10px;
    }
    .go-back-button{
        margin-top: 10px;
        margin-bottom: 10px;
        .btn.btn-fill {
            color: #000;
            i {
                vertical-align: middle;
                font-size: 18px;
                padding-right: 5px;
                line-height: 0;
                font-weight: bold;
            }
        }
    } 
    .quotation-item {
        float: left;
        width: 100%;
        margin: 10px auto;
        padding: 10px;
        border-bottom: 1px solid #e7e7e7;
        @include box-shadow( 3px 3px 5px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(63, 63, 68, 0.1));
        .nopad {
            padding: 0;
        }
        .quotation-item-details {
            float: left;
            width: 100%;
            margin: 0 auto;
            padding: 0;
            .quotation-product-title {
                margin-bottom: 10px;
                h3 {
                    margin: 0px;
                    padding: 0px;
                    font-size: 16px;
                    font-weight: bold;
                    color: #808080;
                    float: left;
                }
                .btn-warning.btn-fill{
                    float: right;
                    padding: 1px 12px;
                }
            }
            .quotation-item-detail {
                float: left;
                width: 100%;
                padding: 0 10px 0 3px;
                .quotation-quantity {
                    display: inline-flex;
                    padding-top: 0em;
                    p {
                        padding-right: 10px;
                        font-size: 14px;
                    }
                }
                p {
                    font-size: 13px;
                    color: #7f7f7f;
                    text-align: justify;
                }
                .quotation-posted {
                    padding-top: 10px;
                    .btn-warning.btn-fill {
                        padding: 2px 5px;
                        font-size: 12px;
                        i {
                            vertical-align: middle;
                            font-size: 18px;
                            line-height: 0;
                        }
                    }
                }
            }
        }
    }
    .view-quotation-item{
        .quotation-item-details {
            float: left;
            width: 80%;
            margin: 0 auto;
            padding: 0;
            .quotation-item-detail {
                .quotation-quantity {
                    p{
                        margin-bottom: 0px;
                        margin-top: 10px;
                    }
                }
                .quotation-posted{
                    display: flex;
                    align-items: baseline;
                    padding-top: 10px;
                    .btn-warning.btn-fill {
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
            }
        }
        .quotation-container-button {
            float: left;
            width: 20%;
            margin: 0 auto;
            padding: 0;
            text-align: center;
            .quotation-button {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                height: 145px;
                .open {
                    background-color: #00cf59;
                    border-color: #00cf59;
                    padding: 2px 30px;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    cursor: default;
                }
                .closed,
                .rejected {
                    background-color: #d02023;
                    border-color: #d02023;
                    padding: 2px 25px;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    cursor: default;
                }
            }
        }
    }
    .quotations {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        .view-quotation-slider-item {
            padding: 15px 25px;
            margin: 0 auto;
            .slider-title {
                margin: 0;
                h3 {
                    margin: 0px;
                    padding: 10px 0;
                    font-size: 20px;
                    font-weight: bold;
                    color: #808080;
                }
            }
            .quotation-product-images {
                .item{
                    .image-container {
                        float: left;
                        height: 180px;
                        width: 180px;
                        margin: 0 auto;
                        padding: 10px;
                        overflow: hidden;
                        border: 1px solid #ebebeb;
                        border-radius: 5px;
                    }
                }
            }  
        }
    }
}